## Project Proposal

### Motivation and problem statement:

The problem statement for the project is a very simple question ***Which Factors Influence the Price of Health Insurance?***. The reason for the problem is that almost every person in the United States has health insurance and based on their selected plan, they get charged for it. With this problem, I want to give them a data-oriented review of how these different factors can increase or decrease their charges. If people know the reasons, they can optimize their routines to save money. Also, with exploratory analysis, I want to check whether any kind of bias exists in the different categories of features in data.

The project is a way for me to prepare myself to explore unknown and faulty datasets. It will be great to learn about statistical techniques that work with different kinds of variables, conditions where techniques might not work, and how to deal with them.

### Data Selected for Analysis:

For the analysis, I will be using a publicly available dataset from [Kaggle](https://www.kaggle.com/mirichoi0218/insurance). The dataset consists of individual records and what were they billed by health insurance companies. The dataset does not contain any PII data. Each individual is described by the following features:
1.	**age**: age of the primary beneficiary
2.	**sex**: insurance contractor gender, female, male
3.	**bmi**: Body mass index, providing an understanding of the body, weights that are relatively high or low relative to height, objective index of body weight using the ratio of height to weight, ideally 18.5 to 24.9
4.	**children**: Number of children covered by health insurance / Number of dependents
5.	**smoker**: Smoking (Yes/No)
6.	**region**: the beneficiary's residential area in the US, northeast, southeast, southwest, northwest.
7.	**charges**: Individual medical costs billed by health insurance

These features represent some of the most common details every customer is required to fill while applying for medical insurance. Providing an analysis using these features allows an easier interpretation for everyone (especially people who do not know about the small details of insurances).
The description of data on Kaggle reveals that we have a similar number of male and female individuals, an almost equal number of individuals for each age (18-20 are slightly more than the rest) and there are more individual with 0 or 1 children when compared to individuals with greater than 2 children.


#### License:
[Database: Open Database, Contents: Database Contents](http://opendatacommons.org/licenses/dbcl/1.0/)

### Unknowns and dependencies:

* Although in the real world these features are not enough to adequately describe the health insurance bills, we can start with these limited columns and then gradually improve our analysis as we get new data
* The data is a small random subset of the whole population and inferences from this data cannot be generalized to the whole population

In [2]:
import pandas as pd
import numpy as np

In [4]:
## Read the data and describe it

insurance_data = pd.read_csv('./data/insurance.csv', header = 0)

In [5]:
insurance_data.head(10)

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520
5   31  female  25.740         0     no  southeast   3756.62160
6   46  female  33.440         1     no  southeast   8240.58960
7   37  female  27.740         3     no  northwest   7281.50560
8   37    male  29.830         2     no  northeast   6406.41070
9   60  female  25.840         0     no  northwest  28923.13692

In [6]:
insurance_data.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010